
.homeLogo{
  font-family: 'Fugaz One', cursive;
  font-size: 50pt; 

}

.homeContent {
  float: right; 
  text-align: right; 
}



.navLogo{
  font-family: 'Fugaz One', cursive;
  font-size: 20pt; 
  margin-top: 5px;
  margin-left: 13px; 
  color: rgb(252, 0, 168); 

}





